<table class="table table-condensed grey-table">
  <tbody>
  <% unless current_user.has_role? :admin %>
      <% survey_locations = (survey_locations & current_user.survey_locations) %>
  <% end %>
  <% survey_locations.each do |survey_location| %>
      <tr>
        <td></td>
        <td><%= link_to survey_location.title, survey_location_path(survey_location) %></td>
        <td>
          <div style="text-align: center;">
            <%= link_to t('.website_link'), survey_location.url, :class => 'btn btn-mini' %>
            <%= link_to t('.map_link'), survey_location.map_url, :class => 'btn btn-mini' %>
          </div>
        </td>

      </tr>
      <tr>
        <td colspan="3">
          <%= render :partial => "partials/survey_data_set_table", :locals => { :survey_data_sets => survey_location.survey_data_sets } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>