<p>Hallo <%= @resource.first_name %>!</p>

<p>Jemand hat einen Link angefordert, um dein Passwort zurückzusetzen.</p>

<p><%= link_to 'Mein Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Wenn die Anforderung nicht von dir stammt, kannst du diese Mail einfach ignorieren.</p>
